.space-ship{
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: bold;
}
.space-para{
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 8px;
}
.subject-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 60px 10px 60px;
  
  cursor: pointer;
}
.subject-item:hover{
    box-shadow: 2px 2px 14px 0.1px rgb(162, 162, 162);
    transition: 1s;
}
.subject-item{
    border: 1px solid rgb(222, 219, 219);
      background-color: rgb(249, 247, 247);

    gap:80px;
    height: 170px;
    width: 240px;
    padding-top: 8px;
    padding-bottom: 6px;

}

.icon-notes{
    height: 120px;
    width: 120px;
    padding-top: 6px;
    display: flex;
    margin: 10px auto;
}
.subname{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.subject-popup {
    position: fixed;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    height: 400px;
    width: 60%;
    overflow: scroll;
    overflow-y: auto;
    position: relative;

  }

  .popup-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .subject-item {
    cursor: pointer;
    text-align: center;
    margin: 15px;
    transition: transform 0.2s ease;
  }
  .subject-item:hover {
    transform: scale(1.05);
  }
  .icon-notes {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  .subname {
    margin-top: 8px;
    font-weight: bold;
  }
  .subname-pop{
    text-align: center;
    font-size: 30px;
    text-decoration: underline black;
    letter-spacing: 3px;
    margin-top: 10px;
  }
  .sub-topic{
    font-size: 18px;
    margin-top: 30px;
    font-weight: bold;

  }